body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1a1a1a;
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
  overflow-x: hidden;
}

.banner {
  background-color: #fcbd2f;
  text-align: center;
  padding: 14px;
}
.banner > a {
  text-decoration: none;
  color: black;
  font-weight: 800;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100vw;
}

.nav {
  background-color: #000000e0;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  padding: 0 12px;
  z-index: 100;
}
.nav__logo {
  width: 13.3%;
  height: 80%;
}
.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 45%;
  font-size: 0.8rem;
}

#getADemo {
  background-color: #fcbd2f;
  padding: 10px 15px;
  color: black;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  border: transparent;
  letter-spacing: 2px;
}
#getADemo:hover {
  background-color: #32343a;
  color: #fcbd2f;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.cookieConsent {
  background-color: black;
  color: white;
  width: 400px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: sticky;
  left: 1em;
  top: 71vh;
  display: flex;
  flex-direction: column;
  align-content: left;
  justify-content: space-between;
  padding: 30px;
  z-index: 9999;
  border-radius: 15px;
}
.cookieConsent > a {
  text-decoration: underline;
  color: white;
  padding: 10px 0;
}
.cookieConsent > button {
  background-color: #fcbd2f;
  border: transparent;
  border-radius: 10px;
  padding: 5px;
  font-size: 1.05rem;
  font-weight: 500;
  font-family: sans-serif;
}
.cookieConsent > button:hover {
  background-color: #1f1f1f;
  color: #fcbd2f;
}

.hide {
  display: none;
}

main {
  margin-top: -181.5px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.eighty {
  width: 80vw;
}

.firstContainer {
  margin-top: 75px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.firstContainer__heading {
  font-family: "PlayFair Display", sans-serif;
  font-weight: 800;
  font-size: 4.2rem;
  text-align: center;
  padding: 20px;
  width: 80%;
  line-height: 1.3;
}
.firstContainer__desc {
  font-size: 1.2rem;
  width: 45%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 80px;
}
.firstContainer__img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 50px;
}
.firstContainer__img > img {
  width: 70vw;
}
.firstContainer__button {
  position: absolute;
  top: 50%;
}
.firstContainer__button--btn {
  background-color: #fcbd2f;
  padding: 10px 15px;
  color: black;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  border: transparent;
  letter-spacing: 2px;
}
.firstContainer__button--btn:hover {
  background-color: #32343a;
  color: white;
}
.firstContainer__results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}
.firstContainer__results--heading {
  font-family: "PlayFair Display", sans-serif;
  font-weight: 700;
  font-size: 3rem;
}
.firstContainer__results--container {
  margin-top: 80px;
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}
.firstContainer__results--container-box {
  width: 30%;
  text-align: center;
}
.firstContainer__results--container-box--heading {
  color: #fabc2d;
  font-family: "PlayFair Display", sans-serif;
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 25px;
}
.firstContainer__results--container-box--content {
  font-size: 1.2rem;
}
.firstContainer__trust {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 150px;
}
.firstContainer__trust--heading {
  font-family: "PlayFair Display", sans-serif;
  font-weight: 700;
  font-size: 2.7rem;
  margin-bottom: 80px;
}
.firstContainer__trust--logoCollec {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.firstContainer__trust--logoCollec-img {
  width: 15%;
}
.firstContainer__recog {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.firstContainer__recog--heading {
  font-family: "PlayFair Display", sans-serif;
  font-weight: 700;
  font-size: 2.7rem;
  margin-bottom: 80px;
}
.firstContainer__recog--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.firstContainer__recog--container-companies {
  width: 25%;
}
.firstContainer__recog--container-companies--logo {
  width: 15%;
  margin-bottom: 20px;
}

.secondContainer {
  padding: 150px 0;
  background-color: white;
  color: #1a1a1a;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.secondContainer__calls {
  margin-top: 100px;
  width: 80vw;
  display: flex;
  align-items: top;
  justify-content: center;
  margin-bottom: 180px;
}
.secondContainer__calls--container {
  width: 40%;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: space-evenly;
}
.secondContainer__calls--container-heading {
  font-family: "PlayFair Display", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  width: 90%;
}
.secondContainer__calls--container-explore > a {
  text-decoration: underline;
  color: #1a1a1a;
}
.secondContainer__calls--container-explore > a:hover {
  color: #fcbd2f;
}
.secondContainer__calls--svg {
  width: 55%;
}
.secondContainer__evaluate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.secondContainer__evaluate--heading {
  font-weight: 900;
  font-size: 2.7rem;
  font-family: "PlayFair Display", sans-serif;
}
.secondContainer__evaluate--context {
  margin: 50px 0;
  text-align: center;
  width: 70%;
  font-weight: 500;
  font-size: 1.2rem;
}
.secondContainer__evaluate--svgImage {
  width: 80vw;
  margin-top: 50px;
  margin-bottom: 180px;
}
.secondContainer__motivate {
  width: 80vw;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}
.secondContainer__motivate--container {
  width: 35%;
  padding: 20px;
}
.secondContainer__motivate--container-heading {
  font-family: "PlayFair Display", sans-serif;
  font-weight: 900;
  font-size: 2.7rem;
  margin-bottom: 30px;
}
.secondContainer__motivate--container-context {
  font-size: 1.05rem;
  margin-bottom: 30px;
}
.secondContainer__motivate--container-link > a {
  text-decoration: underline;
  color: black;
}
.secondContainer__motivate--container-link > a:hover {
  color: #fcbd2f;
}
.secondContainer__motivate--svg {
  width: 60%;
}
.secondContainer__motivate--svg > img {
  width: 100%;
}

.thirdContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 90vw;
  padding: 100px 0;
}
.thirdContainer__heading {
  font-family: "PlayFair Display", sans-serif;
  font-size: 2.7rem;
  font-weight: 900;
  margin-bottom: 30px;
}
.thirdContainer__context {
  font-size: 1.1rem;
  width: 52%;
  text-align: center;
  -moz-text-align-last: center;
       text-align-last: center;
  font-size: 1.05rem;
}
.thirdContainer__gallery {
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.thirdContainer__gallery--card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.thirdContainer__gallery--card-dp > img {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin-bottom: 1rem;
}
.thirdContainer__gallery--card-name {
  font-weight: 600;
}

.fourthContainer {
  width: 100vw;
  background-color: #fcbd2f;
  padding: 120px 0;
}
.fourthContainer__carousel {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.fourthContainer__carousel--button {
  margin: auto 0;
  color: #1a1a1a;
  font-size: 4rem;
  cursor: pointer;
}
.fourthContainer__carousel--content {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fourthContainer__carousel--content-container {
  padding: 20px 0;
  margin: 0;
  display: flex;
}

.carousel {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  height: 15px;
  width: 15px;
  border-color: transparent;
  cursor: pointer;
}
.carousel__active {
  background-color: rgba(255, 255, 255, 0.95);
}
.carousel--slide {
  width: 70vw;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  display: none;
}
.carousel--slide-active {
  display: flex;
}
.carousel--slide__dp {
  width: 25%;
}
.carousel--slide__dp > img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  filter: grayscale(100%);
  border: 5px solid #1a1a1a;
}
.carousel--slide__context {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  color: #1a1a1a;
  font-weight: 500;
  font-size: 1.05rem;
}
.carousel--slide__context-logo {
  display: block;
}
.carousel--slide__context-logo > img {
  width: 120px;
  height: 60px;
  margin-left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}
.carousel--slide__context-quote {
  padding: 10px 0;
}

.fifthContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 120px 0;
}
.fifthContainer__partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.fifthContainer__partners--heading {
  font-family: "PlayFair Display", sans-serif;
  font-size: 2.7rem;
  font-weight: 900;
  padding: 40px 0;
}
.fifthContainer__partners--logos {
  padding: 40px 0;
  width: 80vw;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}
.fifthContainer__partners--logos > img {
  width: 160px;
  aspect-ratio: 16/7;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 5px;
}
.fifthContainer__enable {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fifthContainer__enable--heading {
  font-family: "PlayFair Display", sans-serif;
  font-size: 2.7rem;
  font-weight: 900;
  padding: 60px 0;
}
.fifthContainer__enable--button {
  background-color: #fcbd2f;
  padding: 20px 25px;
  color: black;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  border: transparent;
  letter-spacing: 2px;
  font-size: 1.05rem;
}
.fifthContainer__enable--button:hover {
  background-color: #32343a;
  color: #fcbd2f;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  color: white;
  padding: 60px 0;
}

.footer__top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.footer__top--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 10px;
}
.footer__top--container-heading {
  font-weight: 500;
}
.footer__top--container-context > ul {
  padding-left: 0;
  list-style: none;
}
.footer__top--container-context > ul > li {
  padding: 3px 0;
}
.footer__hr {
  background-color: white;
  height: 2px;
  width: 80%;
}
.footer__bottom {
  display: flex;
}
.footer__bottom--left {
  width: 50%;
}
.footer__bottom--left-logo > img {
  width: 30%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__bottom--left-cprt {
  padding: 0 20px;
}
.footer__bottom--right {
  width: 50%;
}
.footer__bottom--right-logo {
  padding: 10px 0;
  font-size: 1.5rem;
  cursor: pointer;
}
.footer__bottom--right-logo > a {
  text-decoration: none;
  color: white;
}
.footer__bottom--right-links > a {
  text-decoration: underline;
  color: white;
}
.footer__bottom--right-links > a:hover {
  color: #fcbd2f;
}
.footer__bottom--right-address {
  padding-top: 10px;
}
.footer__bottom--right-number > a {
  text-decoration: underline;
  color: white;
}
.footer__bottom--right-number > a:hover {
  color: #fcbd2f;
}

@media screen and (max-width: 500px) {
  .banner {
    font-size: 0.73rem;
    padding: 10px;
  }
  .banner > a {
    font-weight: 700;
  }

  .nav {
    justify-content: space-between;
  }
  .nav__logo {
    width: 40%;
    height: 100%;
  }
  .nav__logo > img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .nav__menu {
    display: none;
  }
  .nav__button {
    display: none;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    margin-right: 10%;
  }

  .cookieConsent {
    box-sizing: border-box;
    width: 100vw;
    left: 0;
    top: 82vh;
    font-size: 0.85rem;
    padding: 15px;
    border-radius: 10px;
  }
  .cookieConsent > button {
    border-radius: 10px;
  }

  .eighty {
    width: 90vw;
  }

  .firstContainer__heading {
    width: 90%;
    font-size: 2.1rem;
  }
  .firstContainer__desc {
    font-size: 0.85rem;
    width: 80%;
  }
  .firstContainer__img > img {
    width: 80vw;
  }
  .firstContainer__results {
    margin-bottom: 75px;
  }
  .firstContainer__results--heading {
    font-size: 2rem;
    text-align: center;
  }
  .firstContainer__results--container {
    margin-top: 40px;
    flex-direction: column;
  }
  .firstContainer__results--container-box {
    width: 90%;
  }
  .firstContainer__results--container-box--heading {
    font-size: 3.5rem;
  }
  .firstContainer__results--container-box--content {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .firstContainer__trust {
    margin-bottom: 100px;
  }
  .firstContainer__trust--heading {
    font-size: 2rem;
  }
  .firstContainer__trust--logoCollec {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
  }
  .firstContainer__trust--logoCollec-img {
    width: 100%;
  }
  .firstContainer__recog--heading {
    font-size: 1.85rem;
  }
  .firstContainer__recog--container {
    flex-direction: column;
  }
  .firstContainer__recog--container-companies {
    width: 70%;
    padding-bottom: 50px;
  }
  .firstContainer__recog--container-companies--logo {
    width: 5%;
  }

  .secondContainer__calls {
    flex-direction: column;
  }
  .secondContainer__calls--container {
    width: 90%;
  }
  .secondContainer__calls--container-heading {
    font-size: 2rem;
    padding-bottom: 20px;
  }
  .secondContainer__calls--svg {
    width: 100%;
  }
  .secondContainer__evaluate--heading {
    width: 90%;
    font-size: 2rem;
  }
  .secondContainer__evaluate--context {
    width: 90%;
    font-size: 1rem;
  }
  .secondContainer__evaluate--svgImage {
    width: 90vw;
  }
  .secondContainer__motivate {
    width: 90vw;
    flex-direction: column;
  }
  .secondContainer__motivate--container {
    width: 90%;
  }
  .secondContainer__motivate--container-heading {
    font-size: 2rem;
  }
  .secondContainer__motivate--container-link > a {
    font-size: 0.9rem;
  }
  .secondContainer__motivate--svg {
    width: 100%;
  }

  .thirdContainer__heading {
    font-size: 1.9rem;
    text-align: center;
  }
  .thirdContainer__context {
    width: 75%;
    font-size: 1rem;
  }
  .thirdContainer__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 40px;
  }
  .thirdContainer__gallery--card-dp > img {
    width: 90px;
    height: 90px;
  }
  .thirdContainer__gallery--card-desig {
    font-size: 0.8rem;
  }

  .fourthContainer {
    padding: 100px 0;
  }
  .fourthContainer__carousel {
    width: 90%;
    flex-direction: column;
  }
  .fourthContainer__carousel--button {
    margin: auto;
    font-size: 2.5rem;
    padding: 30px 0;
  }

  .carousel--slide {
    flex-direction: column;
    align-items: center;
  }
  .carousel--slide__dp {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 30px;
  }
  .carousel--slide__dp > img {
    height: 100px;
    width: 100px;
  }
  .carousel--slide__context {
    font-size: 0.9rem;
    font-weight: 500;
  }

  .fifthContainer {
    padding: 100px 0;
  }
  .fifthContainer__partners--heading {
    font-size: 2rem;
    text-align: center;
  }
  .fifthContainer__partners--logos {
    width: 90vw;
    grid-template-columns: 1fr 1fr;
  }
  .fifthContainer__partners--logos > img {
    width: 120px;
  }
  .fifthContainer__enable--heading {
    font-size: 1.9rem;
    text-align: center;
  }

  .footer__top {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.5fr;
  }
  .footer__top--container-context {
    font-size: 0.85rem;
  }
  .footer__bottom--left {
    width: 40%;
    font-size: 0.75rem;
  }
  .footer__bottom--left-logo > img {
    width: 90%;
  }
}/*# sourceMappingURL=index.css.map */