body
  margin: 0
  padding: 0
  box-sizing: border-box
  background-color: #1a1a1a
  color: white
  font-family: 'IBM Plex Sans', sans-serif
  overflow-x: hidden


.banner
  background-color: #fcbd2f
  text-align: center
  padding: 14px
  & > a
    text-decoration: none
    color: black
    font-weight: 800

.sticky
  position: fixed
  top: 0
  width: 100vw

.nav
  background-color: #000000e0
  color: white
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-evenly
  width: 100vw
  padding: 0 12px
  z-index: 100
  &__logo
    width: 13.3%
    height: 80%

  &__menu
    display: flex
    align-items: center
    justify-content: space-evenly
    width: 45%
    font-size: 0.8rem

#getADemo
  background-color: #fcbd2f
  padding: 10px 15px
  color: black
  font-family: 'IBM Plex Sans', sans-serif
  font-weight: 700
  border: transparent
  letter-spacing: 2px
  &:hover
    background-color: #32343a
    color: #fcbd2f 

main
  width: 100vw
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.eighty
  width: 80vw
  // border: 2px solid red

.firstContainer
  margin-top: 75px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  
  &__heading
    font-family: 'PlayFair Display', sans-serif
    font-weight: 800
    font-size: 4.2rem
    text-align: center
    padding: 20px
    width: 80%
    line-height: 1.3
  
  &__desc
    font-size: 1.2rem
    width: 45%
    text-align: center
    margin-top: 20px
    margin-bottom: 80px

  &__img
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    position: relative
    margin-bottom: 50px
    & > img
      width: 70vw

  &__button
    position: absolute
    top: 50%
    &--btn
      background-color: #fcbd2f
      padding: 10px 15px
      color: black
      font-family: 'IBM Plex Sans', sans-serif
      font-weight: 700
      border: transparent
      letter-spacing: 2px
      &:hover
        background-color: #32343a
        color: white

  &__results
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    margin-bottom: 150px

    &--heading
      font-family: 'PlayFair Display', sans-serif
      font-weight: 700
      font-size: 3rem

    &--container
      margin-top: 80px
      width: 80vw
      display: flex
      flex-direction: row
      align-items: center
      justify-content: space-evenly
      padding: 10px

      &-box
        width: 30%
        text-align: center

        &--heading
          color: #fabc2d
          font-family: 'PlayFair Display', sans-serif
          font-size: 5rem
          font-weight: 600
          margin-bottom: 25px

        &--content
          font-size: 1.2rem

  &__trust
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    margin-bottom: 150px

    &--heading
      font-family: 'PlayFair Display', sans-serif
      font-weight: 700
      font-size: 2.7rem
      margin-bottom: 80px 

    &--logoCollec
      display: flex
      flex-direction: row
      align-items: center
      justify-content: space-between
      &-img
        width: 15%

  &__recog
    width: 80vw
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    margin-bottom: 150px
    &--heading
      font-family: 'PlayFair Display', sans-serif
      font-weight: 700
      font-size: 2.7rem
      margin-bottom: 80px
    
    &--container
      display: flex
      flex-direction: row
      align-items: center
      justify-content: space-evenly
      &-companies
        width: 25%
        &--logo
          width: 15%
          margin-bottom: 20px